<div class="main wrapper clearfix">
   <article class="<%= @mp_class %>">
    <% i = @features[0] %>
    <h3>Big Data</h3>
    <div class="post excerpt spotlight">
      <a href="<%= i.post_ids.include?(' ') ? feature_path(i.slug) : i.post_ids %>">
      <div class="post-cover" style="background-image: url('<%= @features[0].thumbnail %>')"></div>
      <h4><%= trim(i.title, 70) %></h4>
      <p><%= trim(i.excerpt, 120) %></p>
      </a>
    </div>

    <h3>Wired Features</h3>
    <ul class="post-list clearfix">
      <% @features[1..-1].each do |i| %>
      <li>
        <div class="post excerpt" style="height:215px;">
          <a href="<%= i.post_ids.include?(' ') ? feature_path(i.slug) : i.post_ids %>" target="_blank" >
            <div class="post-cover" style="background-image: url('<%= i.thumbnail %>')"></div>
            <h4><%= trim(i.title, 70) %></h4>
            <p><%= trim(i.excerpt, 120) %></p>
          </a>
        </div>
      </li>
      <% end %>
    </ul>    
  </article>
</div>