<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head><%= render "layouts/head_meta" %></head>
  <body class="<%= controller_name %> <%= action_name %>">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="content_outer">
      <!-- header -->
      <%= render 'layouts/header' %>
      <!-- body -->
      <%= render 'layouts/messages' %>
      <div class="main-container">
        <%= yield %>
      </div>

      <!-- footer -->
      <% cache('wired_footer') do %>
        <%= render 'layouts/footer' %>
        <%= render "shared/api/google_analytics" %>
      <% end %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
